@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root{
    font-size: 14px;
}


body{
    display: flex;
    flex-direction: column;
    background-color: hsl(30, 38%, 92%);
    color: hsl(158, 36%, 37%);
    font-family: 'Montserrat', 'Fraunces', sans-serif;
    line-height: 1.5;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}


.card{
    display: flex;
    flex-direction: row;
    background-color: hsl(0, 0%, 100%);
    position: center;
    max-width: 40rem;
    height: fit-content;
    border-radius: 10px;
    margin: 2rem auto;
    position: center;

}

.card #product-img-desk{
    width: 20rem;
    max-height: fit-content;
    border-radius: 10px 0px 0px 10px ;
}

.card #product-img-mob{
    display: none;
}

#sectionContent{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;

}

.card #subtitle{
    font-size: .8rem;
}

#sectionContent h1{
    font-family: 'Fraunces', serif; 
    font-weight: 500;
    font-size: 2rem;
    width: 80%;
    margin: 0rem 0rem .8rem 0rem;
    color:   hsl(212, 21%, 14%);
    line-height: 2rem;
}

#sectionContent p{
    color: hsl(228, 12%, 48%);
    font-size: 1rem;
}

#prices{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    
}

#prices h1{
    color: hsl(158, 36%, 37%);
}

#prices p{
    color: hsl(228, 12%, 48%);
    text-decoration:line-through;
}

#sectionContent a{
    background-color:hsl(158, 36%, 37%) ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 1rem;
    padding: .2rem;
    border-radius: 1rem;

}


#sectionContent a p{
    color: hsl(0, 0%, 100%);
    margin-left: 1rem

    
}

#sectionContent a:hover{
    background-color: hsl(158, 53%, 26%);
}


.attribution{
    font-size: 11px;
    text-align: center;
    color: hsl(228, 12%, 48%);
    margin-top: 1rem;
}

/* Media Queries */
@media (max-width: 780px) {
    /*changes*/
    .card{
        display: flex;
        flex-direction: column;
        max-width: 23rem;
      }

    .card #product-img-desk{
        display: none;
    }
    
    .card #product-img-mob{
        display: flex;
        width: 100%;
        max-height: fit-content;
        border-radius: 10px 10px 0px 0px  ;
    }
    
    #sectionContent h1{
        width: fit-content;
    }
    
    
}


@media (max-width: 200px) {
    :root{
        font-size: 6px;
    }
    
}
